<!-- Footer -->
<footer id="footerWrapper" class="color_footer">
  <section id="mainFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="footerWidget">

            <h4 class="footerh" >LINKS</h4>
            <address>
              <a class="footerp" href="http://blog.osperi.com">Blog</a><br>
              <a class="footerp" href="/partner/login">Salon partners</a><br>
              <a class="footerp" href="/privacy">Privacy policy</a><br>
              <a class="footerp" href="/refund">Refund policy</a><br>
              <a class="footerp" href="/toc">Terms of service</a><br>
              <a class="footerp" href="/aboutus">About Us</a><br>
              </address>
            </div>
          </div>
        <div class="col-sm-4">
          <div class="footerWidget">

            <h4 class="footerh">CONTACT US</h4>
            <address>
                <p class=" footerp">F-58 Diamond District Old Airport Road, <br> Bangalore - 560008,<br>Phone - 080-4142 9815 </p> <br>
                <i class="icon-phone"></i>Email <br>
                <i class="icon-mail-alt"></i><a href="mailto:hello@osperi.com"  class=" footerp" >hello@osperi.com</a> 
              </address>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footerWidget">
              <h4 class="footerh">FOLLOW  US</h4>



               <ul class="fullleft" >
 <li class="social1"><a class=" btn btn-primary"  href="https://www.facebook.com/GlowOsperi/" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
 <li class="social1"><a class="btn btn-info" href="https://twitter.com/glowosperi" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
 <li class="social1"><a  class="btn btn-danger " href="https://www.instagram.com/glowosperi/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footerRights">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class=" footerp" >Copyright © 2016 <a href="http://www.osperi.com" target="blank"  class=" footerp">Osperi</a> / All rights reserved.</p>
          </div>

        </div>
      </div>
    </section>
</footer>