<head>  
<title>Login | Osperi </title>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<% if(!isReached) { %>
<meta http-equiv="refresh" content="5;url= <%= url %>" />
<% } %>
<link rel="apple-touch-icon" sizes="180x180" href="/image/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/image/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/image/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/image/favicons/manifest.json">
<link rel="mask-icon" href="/image/favicons/safari-pinned-tab.svg" color="#5bbad5">



<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap-theme.min.css">

<link rel="stylesheet" href="/stylesheets/style.css" >
<link rel="stylesheet" href="/stylesheets/navbar.css" >
</head>