<!DOCTYPE html>  
<html lang="en"> 
 <% include head %> 

<body class="login-body">
  <div id="wrapper" >
<div id="content-wrapper-body" > 

<div class="product-section">
<div class="form-login login-section">

  <img  width="150px" src="/image/logo.png"/>
  <p class="quizsubtitle">Connecting....</p>
  
    
</div>
</div>

</div>


<!-- End footer -->

<script src="/javascripts/jquery.js"></script>  
<script src="/javascripts/bootstrap.min.js"></script> 
<script src="/javascripts/userauth.js"></script> 



</div> 
</body> 

</html>  
