<!DOCTYPE html>  
<html lang="en"> 
 <% include head %> 

<body class="body" style="background-color: #f9d208">


<div class="form-login login-section" style="margin-top: 0%;">

  <img  width="150px" src="/image/logo.png"/>
  <br>
  <br>
  <br>
  <% if(isReached) { %>
    <h3><%= text %></h3>
  <% } else{ %>
  <h3>Connecting...</h3>
  <% } %>
  
  <br>
  <br>

    
</div>






</body> 

</html>  
