html,body{
   width: 100%;
   height: 100%;
   /*color: #787887;*/
   font-family:  Georgia,serif;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}



/*newlogin form*/
/* Form */
.form-login {
  position: relative;
  z-index: 1;
  background-color: transparent;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
/*.form-login .thumbnail {
  background: #FFFFFF;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form-login .thumbnail img {
  display: block;
  width: 100%;
}*/
.form-login input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-login textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}


.form-login .btn-login {
  outline: 0;
  background: #E40C7C;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}



/* END Form */
/* Demo Purposes */
.login-body {
  background-image: url("/image/login-background.jpg"); no-repeat center center fixed; 
  font-family: "Roboto", sans-serif;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
        background-size: cover;
}
.login-body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  /*background: rgba(255, 255, 255, 0.8);*/
  width: 100%;
  height: 100%;
}





/* CSS used here will be applied after bootstrap.css */