<!DOCTYPE html>  
<html lang="en"> 
 <% include head %> 

<body class="login-body">
  <div id="wrapper" >
<div id="content-wrapper-body" > 

<div class="product-section">
<div class="form-login login-section">

  <img  width="150px" src="/image/logo.png"/>
  <p class="quizsubtitle">Welcome to Osperi</p>
  <form id="login_form" class="login-form" action="/login" method="post" onsubmit="return validateForm()">
    <input id="name" type="text" name="name" placeholder="Name*">
    <input id="email" type="text" name="email" value="" placeholder="Email*">
    <input onkeypress="return isNumberKey(event)" maxlength="10" type="text" placeholder="Mobile*"  name="phone" >
     <input type="hidden" name="mac" value="<%= mac %>" /> 
    <input type="hidden" name="redirect_url" value="<%= redirect_url %>" /> 
    <button id="btn-signup" type="submit" class="btn btn-login"><i class="icon-hand-right"></i>Access internet</button>
  </form>
    
</div>
</div>

</div>


<!-- End footer -->

<script src="/javascripts/jquery.js"></script>  
<script src="/javascripts/bootstrap.min.js"></script> 
<script src="/javascripts/userauth.js"></script> 



</div> 
</body> 

</html>  
